{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}
{% load utils %}

{% block title %}
  {% trans "Banners" context "Dashboard saleor banners list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-customers{% endblock %}

{% block menu_saleor_banners_class %}active{% endblock %}

{% block header_extra %}
  {% if perms.saleor_banners.edit %}
    <div class="btn-fab-fixed">
      <a href="{% url 'saleor-banner-dashboard-create' %}" class="btn-fab-default waves-effect waves-light" title="{% trans "Add banner" context "Saleor banner list add button text" %}">
        <svg data-src="{% static "dashboard/images/add.svg" %}"></svg>
      </a>
    </div>
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs">
    <li class="visible-s">
      {% trans "Banners" context "Dashboard saleor banners list" %}
    </li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l9">
      {% if saleor_banners %}
        <div class="card">
          <div class="data-table-container">
            <table class="bordered highlight data-table data-table-description">
              <thead>
                <tr>
                  {% trans "Name" context "Dashboard saleor banners list table header name" as label %}
                  {% sorting_header 'name' label %}
                </tr>
              </thead>
              <tbody>
                {% for saleor_banner in saleor_banners %}
                  <tr data-action-go="{% if perms.saleor_banners.edit %}{% url 'saleor-banner-dashboard-detail' pk=saleor_banner.pk %}{% endif %}">
                    <td>
                      {{ saleor_banner }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% paginate saleor_banners %}
      {% else %}
        {% if is_empty %}
          {% include 'saleor_banners/dashboard/zero_page.html' %}
        {% else %}
          <div class="col s12">
            <div class="not-found">
              <p class="grey-text">
                {% trans "No banners found." context "Empty saleor banners table message" %}
              </p>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="col s12 l3" id="filters">
      {% if not is_empty %}{% filters filter_set %}{% endif %}
    </div>
  </div>
{% endblock %}

